# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
*.egg
*.egg-info/
dist/
build/
*.wheel

# Django stuff:
*.log
*.pot
*.pyc
*.pyo
*.sqlite3
db.sqlite3

# Media files
/media/

# Static files
/staticfiles/
*.static

# Local environment settings
.env

# IDEs and editors
.vscode/
.idea/
*.swp
*.swo

# Testing
.pytest_cache/
.tox/
.coverage
*.cover
.hypothesis/

# Jupyter Notebook
.ipynb_checkpoints/

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db

#local db
db.sqlite3